.navbar {
  background-color: #0b132b;
  color: white;
  padding: 15px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  gap: 15px;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.nav-links button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.nav-links button:hover {
  background: #1d4ed8;
}


/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    font-size: 1.8rem;
  }

  .nav-links {
    width: 100%;
    justify-content: flex-start;
    gap: 12px;
  }

  .nav-links a,
  .nav-links button {
    font-size: 0.9rem;
  }
}